
*.bin
*.bin
*.rawproto
*.lock
.idea/workspace.xml
*.txt
app/build/intermediates/*
app/build/generated/source/r/debug/com/example/listallfiles/R.java
app/build/intermediates/incremental/packageInstantRunResourcesDebug/zip-cache/isJUf5pnHonHgbPY7kb76OLMkgY=
app/build/intermediates/instant-run-resources/resources-debug.ir.ap_
*.properties
*.ap_
app/build/intermediates/restart-dex/debug/build-info.xml
app/build/intermediates/split-apk/debug/slices/slice_7.apk
app/build/intermediates/transforms/dex/debug/folders/1000/5/slice_7/classes.dex
app/build/intermediates/incremental/packageDebug/zip-cache/isJUf5pnHonHgbPY7kb76OLMkgY=
app/build/outputs/apk/app-debug.apk
*.apk
*.dex
app/build/intermediates/res/merged/debug/layout/activity_main.xml
